.form_style {
    text-align: center;
    margin: 20px 0 10px 0px;
    
}
.container {
    display: flex;;
    justify-content: center;
    border: 1px solid red;
    margin: 20% auto;

    padding: 10px;
    align-items: center;
    width: 50%;
    height: 50vh;
    
}
.form-group {
    margin-bottom: 10px;
}
.btn {
    tex
}